.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid rgb(51, 161, 253);
  width: 15px;
  height: 15px;
  animation: spin 4s linear infinite;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loaderText {
  font-size: small;
  animation: fadeInOut 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
